/* Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Body */

body {
  background: linear-gradient(
    to left,
    rgba(80, 6, 6, 0.66),
    rgba(132, 22, 132, 0)
  );
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #333;
}

/* Navbar */

header {
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: #111;
  color: white;
  width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: 700;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #88e729d4;
}

.cta-btn {
  background: #ff4d4d;
  padding: 10px 18px;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.cta-btn:hover {
  background: #ff0000;
  box-shadow: 2px 2px 20px rgba(129, 208, 222, 0.4);
}

/* Login Container */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 40px 20px;
}

/* Header */

.login-header {
  text-align: center;
  margin-bottom: 20px;
}

.login-header h1 {
  color: #d32f2f;
  margin-bottom: 10px;
}

.login-header p {
  max-width: 500px;
  line-height: 1.5;
}

/*  Form  */

form {
  background: #fff;
  padding: 35px;
  border-radius: 12px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.12);
  width: 100%;
  max-width: 420px;
}

/* Fieldset */

fieldset {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
}

legend {
  font-weight: bold;
  color: #d32f2f;
  padding: 0 10px;
}

/* Labels */

label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  font-weight: 500;
}

/* Inputs */

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 10px;
}

input:focus {
  outline: none;
  border-color: #d32f2f;
}

/* Password Toggle */

.password-box {
  position: relative;
}

.password-box span {
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
  font-size: 18px;
}

/* Remember */

.remember {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 10px;
}

/* Buttons  */

.btn-group {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

button {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

button[type="submit"] {
  background: #d32f2f;
  color: white;
}

button[type="submit"]:hover {
  background: #b71c1c;
}

button[type="reset"] {
  background: #e0e0e0;
}

button[type="reset"]:hover {
  background: #bdbdbd;
}

/* Links */

.login-links {
  text-align: center;
  margin-top: 15px;
}

.login-links a {
  color: #d32f2f;
  text-decoration: none;
}

.login-links a:hover {
  text-decoration: underline;
}
footer {
  margin-top: 30px;
  padding: 20px;
  background: #111;
  color: white;
  width: 100%;
  text-align: center;
}

/* Responsive  */

@media (max-width: 600px) {
  .navbar {
    flex-direction: column;
    gap: 10px;
  }

  .nav-links {
    flex-wrap: wrap;
    justify-content: center;
  }
}
